.agrupar { 
    background: #F8F3E6;
    width: 1020px;
    margin: auto;
    padding: 50px;
    border: 1px solid  #E35336;

}

h1{
   font-family: sans-serif;
   font-size: 50px;
   font-weight: bold;
}
h2{
    font-weight: bold;
    font-size: 35px;
    font-family: Franklin Gothic Medium;
} 

 header, section, footer, aside, nav, article,hgroup{
    display:block;
 }
 body {
    text-align: center;
 }
 header
 {
     background-color: #E35336;
     color:#E7CC8F  
 }
 footer {
   background-color: #E7CC8F; color:brown
 }
 nav{
     background-color: #EFAA52
 }

 .menu {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    text-align:left
 }
 .menu li {
list-style: none;
padding: 5px;
font: bold 20px verdana;
display: inline-block;

 }
  
 
